.page-name{
    background-color: black;
    text-align: center;
    padding: 2% 0;
    color: white;
}
.sub-heading{
    background-color: black;
    padding: 1%;
    color: white;
}
.dashboard{
    padding: 50px;
    background-color: lightgray;
}
.filter-box{
    margin-bottom: 0.5%;
}
.bar-chart-box{
    padding: 50px;
    width: 100%;
    background-color: lightgray;
}
.bar-chart{
    background-color: white;
    min-height: 50vh;
    max-height: 50vh;
    width: 100%;
    padding: 10px;
}
.statistics-box{
    padding: 50px;
        width: 100%;
}
.footer-page{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5%;
}